.App {
	text-align: center;
}

header {
	background-color: #282c34;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}
h1 {
	margin: 30px auto;
}
img {
	height: 50px;
	margin: 30px auto;
	border-radius: 50%;
}

.pink {
	border: 1px solid #e3127e;
	color: #e3127e;
}
